################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Didital_Banking/FileContentIndex/3ae44a9d-8d7f-4a55-a456-b56eb35c68f1.vsidx
/.vs/Didital_Banking/FileContentIndex/2df43877-50d4-435a-a5ae-66c767c32fa2.vsidx
